#dev-footer.card-footer.fixed-bottom
  .container
    .row.justify-content-center.align-items-center.w-100.mb-0.p-tinny
      p.mb-0.mr-0
        | Desenvolvido por:
      a(target="_blank" href="https://www.linkedin.com/in/jmrs55/").mx-1
        | João Marcos
      p.mb-0.mr-0
        | e
      a(target="_blank" href="#").mx-1
        | Thales Rocha
      p.mb-0.mr-0
        |  | Apoio:
      a(target="_blank" href="http://cinoto.com.br/").ml-1
        | Rafael W. de Andrade Cinoto
