nav.navbar.navbar-light.bg-light.fixed-top
  .container
    a(href="/").navbar-brand
      strong
        | Online Cube Camps

    //- .justify-content-end
      a(href="/login").btn.btn-primary.btn-sm.mr-2
        | Entrar
      a(href="/register").btn.btn-success.btn-sm
        | Registre-se
