nav.navbar.navbar-light.bg-light.fixed-top.navbar-expand-lg.p-0.pt-2
  .container
    a(href="/").navbar-brand
      strong
        | Online Cube Camps

    button(type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
      span.navbar-toggler-icon

    #main-nav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.nav.nav-tabs.w-100
        li.nav-item
          a(href="/").nav-link.hero-tab
            | Home
        li.nav-item
          a(href="#competidores").nav-link.hero-tab
            | Competidores
        li.nav-item
          a(href="#rounds").nav-link.hero-tab
            | Rounds
        li.nav-item
          a(href="#podios").nav-link.hero-tab
            | Pódio

        a(href=`/competition/${idCampeonato}/competitor/new`).btn.btn-success.btn-sm.my-1.ml-auto
          img(src="/assets/svg/icons/plus-square-regular.svg").btn-icon.pr-2
          | Participar deste Campeonato
