doctype
html(lang="pt-br")
  head
    include ./components/header
    link(rel="stylesheet" href="/stylesheets/main.min.css")
    title Competição

  body

    include ./components/navbar
    //- include ./components/flashMsgs

    .container.inside-body
      .row
        

    include ./components/footer
