doctype
html(lang="pt-br")
  head
    include ../components/header
    link(rel="stylesheet" href="stylesheets/main.min.css")
    title Home

  body

    include ../components/flashMsgs

    .container.inside-body
      | Hey!!

    include ../components/footer
