body{
  padding-top: 62px;
  background-image: linear-gradient(#008cff, #003cff);
}

.clickable {
  color: #000;
  border-radius: 5px;
}

.clickable:hover {
  text-decoration: none;
  color: #000;
  background-color: #ddd;
}

.title {
  background-color: #e9ecef;
  border-radius: 5px;
  width: 100%;
  padding: 10px 25px;
  margin: 3px;
}

.inside-body {
  margin-top: 25px;
  box-sizing: border-box;
}

.unscrollable {
  overflow: hidden;
}

#main-container {
  height: 95%;
}

#main-container .row, #main-container .row .jumbotron {
  height: 85%;
}

#main-container .row .jumbotron .competitions {
  height: 75%;
  overflow-y: scroll;
}
