body{
  padding-top: 62px;
  background-image: linear-gradient(#003cff, #008cff);
}

.clickable, .aclickable {
  color: #000;
  border-radius: 5px;
}

.aclickable:hover {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.clickable:hover {
  text-decoration: none;
  color: #000;
  background-color: rgba(197, 197, 197, 0.773);
}

#rounds .clickable, #rounds .aclickable {
  color: #000;
  border-radius: 0;
}


.title {
  background-color: rgba(234, 237, 240, 0.855);
  border-radius: 5px;
  width: 100%;
  padding: 10px 25px;
  margin: 3px;
}

.inside-body {
  margin-top: 25px;
  box-sizing: border-box;
}

.unscrollable {
  overflow: hidden;
}

.bg-gray-transp {
  background-color: rgba(233, 236, 239, 0.855);
}

.hero-tab.active {
  font-weight: bold!important;
  color: #fff!important;
  background-color: none!important;
  background-image: linear-gradient(#003fff, #004bff);
  border-color: #dee2e6 #dee2e6 #004bff!important;
}

.puzzle-icon {
  width: 40px;
  display: inline-block;
  box-sizing: border-box;
}

.btn-icon {
  padding: 1px 0 1.5px 0;
  width: 25px;
  display: inline-block;
  box-sizing: border-box;
}

#main-container {
  height: 95%;
}

#main-container .row, #main-container .row .jumbotron {
  height: 85%;
}

#main-container .row .jumbotron .competitions {
  height: 75%;
  overflow-y: auto;
}

#main-container .row .jumbotron .competitions::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-left: 0;
  background: #0000001a;
}

#main-container .row .jumbotron .competitions::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #8b8b8ba6;
}

#main-container .row .jumbotron .competitions::-webkit-scrollbar-thumb {
  background: #003cff8f;
  border-radius: 10px;
}

#bg-cube3 {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#rounds {
  margin-top: 0;
  height: 98%;
}

@media (min-width: 992px) {
  html {
    height: 100%!important;
  }
}

@media (max-width: 991.98px) {
  body {
    padding-bottom: 20px;
  }

  #main-container .row .jumbotron {
    max-height: 500px;
  }
  
  #main-container .row .jumbotron .competitions {
    max-height: 400px;
  }
}